.navLinks{
    margin-left: auto;
}

.link{
    margin-right: 3em;
    text-decoration: none;
    color: black;
}

.alt{
    font-size: 16px;
    font-weight: 500;
}

.alt:hover{
    text-decoration: underline solid black;
}